@import url('https://fonts.googleapis.com/css2?family=Alan+Sans:wght@300..900&family=Karla:ital,wght@0,200..800;1,200..800&family=Noto+Color+Emoji&display=swap');

html{
      scroll-behavior: smooth;
}

*{
    box-sizing: border-box;
    margin: 0;
    font-family: "Alan Sans", sans-serif;
}

body{
    overflow-x: hidden;
    background: url(../images/booking/bookingBg.png) center center/cover fixed;
}

.booking-section{
    width: 100vw;
    padding: 80px;
    min-height: fit-content;
}

.booking-container{
    max-width: 600px;
    margin: 50px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: linear-gradient(to bottom, #004d4d, #002626); 
    padding: 40px;
    border-radius: 30px;
}
.booking-container h1{
    font-size: 2.3rem;
    color: #e4b500;
    margin-bottom: 10px;
}

.booking-subtitle {
    font-size: 1rem;
    color: #cce7e7;
    text-align: center;
    margin-bottom: 30px;
}


.booking-container form{
    display: flex;
    width: 90%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    color: white;
}

.booking-container label{
    width: 100%;
    text-align: left;
}

.booking-inputs{
    height: 40px;
    width: 100%;
    background-color: rgb(214, 255, 255);
    border-radius: 8px;
}

.extra-info{
    width: 100%;
    background-color: rgb(214, 255, 255);
    border-radius: 8px; 
}

.submit-btn {
    background-color: #e4b500;
    color: white;
    padding: 12px;
    font-size: 1.1rem;
    font-weight: bold;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    transition: 0.3s;
}

.submit-btn:hover {
    background-color: #ffcc00;
}


@media screen and (max-width: 768px) {
    .booking-container {
        width: 100%;
        padding: 30px0;
        margin: 30px 0;
    }

    .booking-container form{
        width: 100%;
        padding: 0;
    }
}