@import url('https://fonts.googleapis.com/css2?family=Alan+Sans:wght@300..900&family=Karla:ital,wght@0,200..800;1,200..800&family=Noto+Color+Emoji&display=swap');

html{
      scroll-behavior: smooth;
}

*{
    box-sizing: border-box;
    margin: 0;
    font-family: "Alan Sans", sans-serif;
}

body{
    overflow-x: hidden;
    background-color: rgb(0, 20, 17);
}

section{
    width: 100vw;
    min-height: 100vh;
    padding: 80px 20px;
    display: flex;
}



    .payment-section {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;
      flex-direction: column;
      text-align: center;
    }

    .payment-box {
      background: rgb(196, 223, 219);
      border: 1px solid #e4b500;
      border-radius: 10px;
      padding: 40px;
      width: 500px;
    }

    h2 {
      color: rgb(0, 20, 17);
      margin-bottom: 20px;
    }



    