@import url('https://fonts.googleapis.com/css2?family=Alan+Sans:wght@300..900&family=Karla:ital,wght@0,200..800;1,200..800&family=Noto+Color+Emoji&display=swap');

html {
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
  margin: 0;
  font-family: "Alan Sans", sans-serif;
}

body {
  overflow-x: hidden;
  background-color: rgb(0, 20, 17);
  color: white;
  min-height: 100vh;
}

.edit-profile{
    padding-top: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
}



.edit-profile h2 {
  text-align: center;
  color: #e4b500;
  margin-bottom: 30px;
  font-size: 1.7rem;
  letter-spacing: 2px;
}

.edit-profile form{
    width: 500px;
    margin: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
}

.form-group{
    width: 100%;
    margin-bottom: 20px;
}

.form-group label{
    margin-bottom: 20px;
    color: rgb(0, 216, 216);
}

.form-group input{
    width: 100%;
    background-color: #002c25;
    color: white;
    border: none;
    border-radius: 8px;
    padding: 10px;
    margin-top: 10px;
}

 .save-btn {
  width: 200px ;
  background:  rgb(0, 20, 17);
  border: 1px solid rgb(0, 216, 216);
  color: rgb(0, 216, 216);
  padding: 12px 25px;
  margin: auto;
  border-radius: 8px;
  cursor: pointer;
  font-size: 1.1rem;
  font-weight: bold;
  margin: 25px auto;
  transition: 0.3s ;
}

.save-btn:hover {
  background: rgb(0, 216, 216);
  color: #111;
}
