
.main-header{
    position: fixed;
    width: 100%;
    background-color: rgba(0, 20, 17, 0.8);
    backdrop-filter: blur(6px);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
    padding: 10px;
    max-height: 80px;
}

.header-logo{
    width: 150px;
}

.nav-bar{
    margin: 0;
    align-items: center;
    margin-right: 1rem;
}

.nav-menu{
    display: none;
}

.nav-menu-icon{
    font-size: 2rem;
    color: teal;
    display: none;
    max-width: 40px;
}

.nav-list{
    display: flex;
    margin: auto;
    list-style: none;
    gap: 1.5rem;
    justify-content: space-around;
}

.nav-list .nav-link{
    margin: auto;
    font-size: 1.5rem;
    text-decoration: none;
    color: teal;
    transition: 0.3s;
}

.nav-list .nav-link:hover{
    color: white;
}



.nav-list .shop-btn{
    padding: 5px 15px;
    border: 0.5px solid teal;
    border-radius: 20px;
    transition: 0.3s; 
}

.nav-list .shop-btn:hover, .user-btn:hover{
    background-color: teal;
    color: black;
}

.nav-list .booking-btn{
    padding: 5px 15px;
    background-color: teal;
    border: 0.5px solid white;
    color: rgb(0, 20, 17);
    border-radius: 20px;
    transition: 0.3s;
}

.nav-list .booking-btn:hover{
    padding: 5px 15px;
    background-color: rgb(255, 93, 52);
    border: 0.5px solid white;
    color: white;
    transition: 0.3s;
}

.nav-list .user-btn{
    padding: 10px 5px;
    border: 0.5px solid teal;
    border-radius: 30px;
}

.nav-list i{
    font-size: 2rem;
    color: teal;
    cursor: pointer;
}

.nav-menu-icon{
    display: none;
}


/* -------- Side bar Nav --------*/

.nav-side-bar{
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 300px;
    z-index: 20;
    background-color: rgba(0, 20, 17, 0.998);
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 20px;
    padding-left: 20px;
}

.nav-side-bar .header-container{
   margin: 30px auto;
   display: flex;
   align-items: center;
   justify-content: center;
}

 .nav-side-bar li{
    width: 100%;
    list-style: none;
 }

 .nav-side-bar .nav-link{
    width: 100%;
    text-decoration: none;
    font-size: 1.5rem;
    color: teal;
    transition: 0.3s;
 }

 .nav-side-bar i{
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 2rem;
    color: teal;
    cursor: pointer;
 }






  /* ------ Media Links ---- */



@media only screen and (max-width: 1200px) {

.nav-menu-icon{
    display: flex;
}

.hideOnMobile {
    display: none;
 }

.nav-menu-icon{
    display: flex;
}
}


@media only screen and (max-width: 430px) {

.nav-side-bar{
    width: 100%;
}

}