@import url('https://fonts.googleapis.com/css2?family=Alan+Sans:wght@300..900&family=Karla:ital,wght@0,200..800;1,200..800&family=Noto+Color+Emoji&display=swap');

html{
      scroll-behavior: smooth;
}

*{
    box-sizing: border-box;
    margin: 0;
    font-family: "Alan Sans", sans-serif;
}

body{
    overflow-x: hidden;
    background-color: rgb(0, 20, 17);
}

section{
    width: 100vw;
}




 /* ------ Image Slider ----- */

.image-slider{
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background-color: black;
}

.slider-text{
  position: absolute;
  left: 50%;
  top: 30%;
  color: white;
}

.slider-text h1{
    font-size: 4rem;
    color: #e4b500;
}

.slider-text p{
    font-size: 1.5rem;
}

.slider-container{
    display: flex;
    animation: sliderAnimation 30s infinite ease-in-out;
}

.slider-image{
    width: 100vw;
    opacity: 30%;
    object-fit: cover;
}

@keyframes sliderAnimation {
     5%, 20% {transform: translate(0%);}
     25%, 40% {transform: translate(-100%);}
     45%, 60% {transform: translate(-200%);}
     65%, 80% {transform: translate(-300%);}
     85%, 100% {transform: translate(-400%);}
}



 /* -----About US ----- */
 
 .about-us{
    width: 100vw;
    height: 100vh;
    padding-top : 80px;
    display: flex;
 }

 .about-us-container {
   display: flex;
   margin: auto; 
   max-width: 80%;
   max-height: 80%;
   justify-content: center;
   gap: 60px;
   align-items: center;
 }

  .about-us-container img{
    max-width: 30%;
 }

 .about-us-text{
    text-align: center;
    max-width: 35%;
    color: white;
 }

 .about-us-text h1{
    font-size: 3rem;
    padding-bottom: 10px;
    color: #e4b500;
 }
 
 .about-us-text p {
    font-size: 1.2rem;
 }



  /* ------- Services and Prices -------- */

  .services-and-prices{
    display: flex;
    flex-direction: column;
    width: 100vw;
    min-height: 100vh;
    background-color: rgb(219, 240, 240);
    justify-content: center;
    padding: 20px 0;
  }


  .services-and-prices h2{
    margin: auto;
    padding-top: 80px;
    padding-bottom: 20px;
    text-align: center;
    font-size: 2.5rem;
  }

  

  .hair-cut-list{
   display: grid;
   grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
   margin: auto; 
   max-width: 80%;
   max-height: 80%;
   gap: 60px;
  }

  .service-item{
    border-bottom: 0.5px solid black;
  }
 
  .tatoo-price-table{
    border-collapse: separate;
    border-spacing: 15px;
    margin: auto;
    width: 80%;
    align-items: center;
  }
  
  .tatoo-price-table th,td{
    padding: 15px;
    text-align:left;
    gap: 5px;
    border-bottom: 1px solid black;
  }

  .tatoo-item {
    margin-top: 40px;
    margin-bottom: 40px;
    padding-bottom: 30px;
  }
   .tatoo-item h3{
    margin: auto;
    text-align: center;
    padding-bottom: 10px;
  }

  .tatoo-item p{
    text-align: center;
  }

  /* ----- Our Work --------- */

  .our-work{
    width: 100vw;
    min-height: 100vh;
    padding-top: 80px;

  }

    .our-work h2{
    color: white;
    font-size: 2.5rem;
    text-align: center;
    margin-bottom: 50px;
    color: #e4b500;
  }

  .photo-gallery{
    max-width: 1200px;
    columns: 4;
    column-gap: 15px;
    margin: 0 auto;
    margin-bottom: 50px;
  }

  .gallery-item {
    width: 100%;
    margin-bottom: 15px;
  }

  .gallery-item img{
    width: 100%;
    border-radius: 5px;
  }



 


  /* --- media queries ---- */
 

@media only screen and (max-width: 1400px) {
  .about-us-container img{
    max-width: 40%;
 }

 .about-us-text{
    max-width: 40%;
    color: white;
 }
}

@media only screen and (max-width: 1200px) {

    .slider-container{
    height: 100vh;
}
  .about-us-container img{
    max-width: 40%;
 }

 .about-us-text{
    max-width: 45%;
    color: white;
 }
}

@media only screen and (max-width: 1100px) {


  .about-us-container img{
    max-width: 40%;
 }

 .about-us-text{
    max-width: 50%;
    color: white;
 }

 .services-and-prices{
    height: 120vh;
 }

 .photo-gallery{
    columns: 3;
  }

}

@media only screen and (max-width: 800px) {

     .about-us{
    width: 100vw;
    height: 150vh;
    padding-top : 80px;
    display: flex;
 }

   .about-us-container {
   display: flex;
   flex-direction: column;
   margin: auto; 
   max-width: 80%;
   max-height: 80%;
   gap: 60px;
   align-items: center;
 }


  .about-us-container img{
    max-width: 80%;
 }

 .about-us-text{
    max-width: 80%;
    color: white;
 }

 .services-and-prices{
    height: 150vh;
 }

 .photo-gallery{
    columns: 2;
  }
}




