@import url('https://fonts.googleapis.com/css2?family=Alan+Sans:wght@300..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Alan Sans", sans-serif;
}

body {
  background: url(../images/login.jpg) center center/cover fixed;
  color: white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.register-section{
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
}

.register-card{
    width: 100%;
    max-width: 450px;
    padding: 40px 50px;
    margin: auto;
    border: 0.5px solid #e4b500;
    border-radius: 15px;
    background: rgba(0, 20, 17,0.5);
    backdrop-filter: blur(5px);
    box-shadow: 0 0 10px #e4b6007c;
}

.register-card h1{
    width: 100%;
    text-align: center;
    font-size: 2.2rem;
    color: #e4b500;
    margin-bottom: 10px;
}

.register-card p{
    width: 100%;
    text-align: center;
    margin-bottom: 30px;
}

.form-group {
    width: 100%;
    margin-bottom: 10px;
}

.form-group label{
    padding-bottom: 10px;
    color: #e4b500;
}

.form-group input{
    width: 100%;
    padding: 10px;
    background-color:  #002c25;
    border: none;
    outline: none;
    border-radius: 8px;
    color: white;
    font-size: 1rem;
    margin: 10px 0;
}

.form-group input:focus {
    border: 1px solid #e4b500;
    box-shadow: 0 0 10px #e4b6007c;
}

.form-group label{
    margin-top: 10px;
}

.register-card .register-btn{
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 8px;
    margin-top: 5px;
    margin-bottom: 10px;
    background: #e4b500;
    cursor: pointer;
    transition: 0.3s;
}

.register-card .register-btn:hover{
    background: #ffcc00;
}


.register-card a{
   color: teal;
   text-decoration: none;
}

.register-card a:hover{
   color: rgb(0, 163, 163);
   text-decoration: underline;
}
