@import url('https://fonts.googleapis.com/css2?family=Alan+Sans:wght@300..900&family=Karla:ital,wght@0,200..800;1,200..800&family=Noto+Color+Emoji&display=swap');

html {
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
  margin: 0;
  font-family: "Alan Sans", sans-serif;
}

body {
  overflow-x: hidden;
  background-color: rgb(0, 20, 17);
  color: white;
  min-height: 100vh;
}

/* ------- common classes ----- */

.status {
  padding: 5px 12px;
  border-radius: 5px;
  font-size: 0.9rem;
  color: #fff;
}

.created-date {
  font-size: 0.8rem;
  position: absolute;
  color: #FFFFFF;
  right: 10px;
  bottom: 10px;
}






/* -------- common css/ user section --------- */


.user-section {
  width: 100vw;
  min-height: fit-content;
  padding-top: 80px;
}

.tabs-container {
  width: 100%;
  min-height: 100vh;
  display: flex;
}


.tabs-container .tabs {
  min-height: 100vh;
  max-width: 350px;
  background-color: #02241e;
  font-size: 1.3rem;
  padding-top: 40px;
}

.tabs-container .tabs .tab {
  padding: 15px 25px;
  cursor: pointer;
  font-weight: bold;
  color: white;
  transition: all 0.3s ease;
  display: flex;
  gap: 10px;
  justify-content: start;
  align-items: center;
  padding-right: 100px;
}

.tabs-container .tabs .tab:hover {
  background-color: #003b32;
  color: #e4b500;
}

.tabs-container .tabs .tab.active {
  color: #e4b500;
  background-color: #002c25;
  border-left: 5px solid #e4b500;
}

.tabs-container .content-container {
  width: 100%;
  padding: 30px;
}

.tabs-container .content-container .content {
  display: none;
}

.tabs-container .content-container .content.active {
  display: block;
}



/* --  profile -- */

#profile {
  text-align: left;
  padding: 0 20px;
  border-radius: 20px;
}

#profile h2 {
  text-align: center;
  color: #e4b500;
  margin-bottom: 30px;
  font-size: 1.7rem;
  letter-spacing: 2px;
}

.profile-card {
  border: 1px solid teal;
  background: rgba(255, 255, 255, 0.05);
  border-radius: 8px;
  padding: 10px;
}

#profile p {
  margin-bottom: 10px;
  border-bottom: 3px solid #003b32;
  padding: 10px;
}

#profile p strong {
  color: rgb(0, 216, 216);
}

.btn-edit {
  background: rgb(0, 20, 17);
  border: 1px solid rgb(0, 216, 216);
  color: rgb(0, 216, 216);
  padding: 12px 25px;
  border-radius: 8px;
  cursor: pointer;
  font-weight: bold;
  margin: 10px 0;
  transition: 0.3s;
}

.btn-edit:hover {
  background: rgb(0, 216, 216);
  color: white;
}

.btn-logout {
  background: rgb(0, 167, 167);
  border: 1px solid rgb(0, 167, 167);
  color: white;
  padding: 12px 25px;
  border-radius: 8px;
  cursor: pointer;
  font-weight: bold;
  margin: 10px 0;
  transition: 0.3s;
  margin-left: 40px;
}

.btn-logout:hover {
  background: rgb(0, 216, 216);
}


/* --- orders --  */



.order-card,
.booking-card,
.cart-card {
  background: rgba(255, 255, 255, 0.05);
  border: 1px solid rgb(0, 216, 216);
  border-radius: 12px;
  padding: 20px;
  margin-bottom: 20px;
  transition: 0.2s;
}

.order-card:hover,
.booking-card:hover {
  transform: translateY(-1px);
}

.order-header,
.booking-header {
  color: rgb(0, 216, 216);
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}



.order-card strong {
  color: rgb(0, 216, 216);
}

.order-card p {
  margin-bottom: 10px;
}


.order-card table {
  text-align: left;
}

.order-card table th,
td {
  padding: 5px 10px;
}

.order-card table th {
  color: rgb(0, 216, 216);
}

.order-card table td.price {
  text-align: right;
}

.order-card table td.total {
  text-align: right;
  color: rgb(0, 216, 216);
}

/* ----- booking  section ----- */

.booking-card {
  position: relative;
  padding-bottom: 40px;
}

.booking-card h3 {
  color: rgb(0, 216, 216);
  margin-bottom: 10px;
}

.booking-card p {
  margin-bottom: 5px;
  background-color: rgba(255, 255, 255, 0.01);
  border-left: 4px solid rgba(255, 255, 255, 0.1);
  padding: 5px;
  padding-left: 10px;
  border-radius: 8px;

}

.booking-card .services-list {
  display: flex;
  margin-bottom: 5px;
  background-color: rgba(255, 255, 255, 0.01);
  border-left: 4px solid rgba(255, 255, 255, 0.1);
  padding: 5px;
  padding-left: 2px;
  border-radius: 8px;
}

.booking-card .services-list-child {
  background-color: transparent;
  border-left: none;
}

.booking-card strong {
  color: rgb(0, 216, 216);
}

.btn-cancel {
  background-color: rgb(0, 20, 17);
  border: 2px solid #d60000;
  border-radius: 8px;
  outline: none;
  padding: 8px;
  font-size: 1rem;
  color: #d60000;
  margin-top: 20px;
  cursor: pointer;
}

.btn-cancel:disabled {
  border: 2px solid #886868;
  color: #886868;
  cursor: not-allowed;
}


.btn-cancel:hover {
  background-color: #ff0000;
  color: rgb(0, 20, 17);
}

.btn-cancel:disabled:hover {
  border: 2px solid #886867;
  background-color: rgb(0, 20, 17);
  color: #886868;
  cursor: not-allowed;
}




.booking-pending {
  background-color: #F59E0B;
}

.booking-confirmed {
  background-color: #3B82F6;
}

.booking-completed {
  background-color: #10B981;
}

.booking-delayed {
  background-color: #8B5CF6;
}

.booking-cancelled {
  background-color: #EF4444;
}


.cart-card {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.cart-items-heading {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr ; 
  gap: 10px; 
  font-size: 1.1rem;
  font-weight: 600;
}

.cart-items-heading:first-child{
  padding-left: 20px;
}

.cart-card .item-card {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr ; 
  gap: 10px; 
  border: 1px solid rgb(0, 216, 216);
  padding: 10px;
  padding-left: 10px;
  border-radius: 8px;
}

.cart-card .item-card p{
  margin: auto 0;
}

.cart-card .item-card div{
  margin: auto 0;
}



.cart-card .item-card .item-header {
  display: flex;
  flex-direction: column;
  justify-items: center;
  padding: 10px;
  gap: 10px;
}


.cart-card .item-card .item-header img {
  width: 150px;
}



.quantity-control {
  background-color: rgba(0, 216, 216, 0.1);
  border-radius: 8px;
  width: fit-content;
}

.quantity-control .btn-qty {
  background: rgb(0, 216, 216);
  color: #fff;
  border: none;
  width: 35px;
  height: 35px;
  font-size: 1rem;
}

.quantity-control .btn-qty.minus {
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}

.quantity-control .btn-qty.plus {
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}

.quantity-control .btn-qty:hover {
  background: #d19a00;
  color: white;
}

.quantity-control .quantity-input {
  width: 40px;
  text-align: center;
  font-size: 1rem;
  border: none;
  outline: none;
  background: transparent;
  color: white;
}

.quantity-control .quantity-input:focus {
  border: none;
  outline: none;
}

.cart-card p strong {
  color: rgb(0, 216, 216);
}


.action-btns .product-remove {
  padding: 10px;
  background-color: #ff3c3c;
  border: none;
  border-radius: 8px;
  color: white;
  cursor: pointer;
}

.action-btns .product-remove:hover {
  background-color: #ff5555;
}

.action-btn {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.btn-checkout {
  width: 250px;
  background: rgb(0, 20, 17);
  border: 1px solid rgb(0, 216, 216);
  color: rgb(0, 216, 216);
  padding: 10px 20px;
  border-radius: 8px;
  cursor: pointer;
  margin-top: 15px;
  font-weight: bold;
  transition: 0.3s ease;
  font-size: 1rem;
}

.btn-checkout:hover {
  background: rgb(0, 216, 216);
  color: #111;
}

.btn-checkout:disabled {
  border: 1px solid rgb(60, 102, 102);
  color: rgb(60, 102, 102);
}


.btn-add {
  width: 200px;
  background: rgb(0, 20, 17);
  border: 1px solid #10B981;
  color: #10B981;
  padding: 10px 20px;
  border-radius: 8px;
  cursor: pointer;
  margin-top: 15px;
  font-weight: bold;
  transition: 0.3s ease;
  font-size: 1rem;
}

.btn-add:hover {
  background: #10B981;
  color: #111;
}


.btn-add:disabled {
  background: #3a5048;
  color: #111;
}

ul {
  list-style-type: disc;
  padding-left: 20px;
  margin-bottom: 10px;
  color: #ccc;
}

.content h2 {
  margin-bottom: 25px;
  color: #e4b500;
  text-align: center;
  font-size: 1.7rem;
  letter-spacing: 2px;
}




/* -------- inquiry section ------ */


.inquiry-card {
  padding: 10px;
  border-radius: 8px;
  background-color: rgba(255, 255, 255, 0.05);
  border: 1px solid rgb(0, 216, 216);
  margin-bottom: 20px;
}

.inquiry-card .inquiry-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  font-size: 1.3rem;
}

.inquiry-card p {
  margin-bottom: 10px;
}

.inquiry-card p>strong {
  color: rgb(0, 216, 216);
}


.inquiry-card .message-container {
  display: flex;
  flex-direction: column;
}

.inquiry-card .message-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.inquiry-card hr {
  border-color: rgb(0, 216, 216);
  margin-bottom: 20px;
}

.inquiry-card .inquiry-subheader {
  color: #e4b500;
  font-size: 1.2rem;
  margin-bottom: 20px;
}

.inquiry-card .reply-container {
  border-radius: 8px;
  border: 0.25px solid #02241e;
  padding: 10px;
  border-left: 5px solid rgb(0, 216, 216);
  margin-bottom: 10px;
}




.inquiry-New {
  background-color: #ffd000 !important;
}

.inquiry-Open {
  background-color: #3B82F6 !important;
}

.inquiry-Failed {
  background-color: #EF4444 !important;
}

.inquiry-Closed {
  background-color: #10B981 !important;
}



/* --------- Media queries -------- */


@media only screen and (max-width: 1000px) {

  .tabs-container .tabs .tab {
    padding-right: 20px;
  }

  .tab-text {
    display: none;
  }


}

@media only screen and (max-width: 1000px) {

  .quantity-control {
    width: 40px;
    border-radius: 0px;
  }

  .quantity-control .btn-qty {
    display: none;
  }

}