@import url('https://fonts.googleapis.com/css2?family=Alan+Sans:wght@300..900&family=Karla:ital,wght@0,200..800;1,200..800&family=Noto+Color+Emoji&display=swap');




*{
    box-sizing: border-box;
    margin: 0;
    font-family: "Alan Sans", sans-serif;
}

body{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    background-color: rgb(204, 228, 228);
}

.text-primary{
    font-size: 1.5rem;
}

.font-weight-bold{
    font-weight: 600;
}

.grid-container{
   display: grid;
   grid-template-columns: 250px 1fr 1fr 1fr;
   grid-template-rows: 0.2fr 3fr;
   grid-template-areas: "sidebar header header header" "sidebar main main main";
   height: 100vh;
}

.admin-header{
    grid-area: header;
    height: 70px;
    background-color: rgb(219, 240, 240);
    box-shadow: 0 2px 10px -3px #02241e;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 30px 0 30px;
}

.header-right{
    font-size: 1.5rem;
}


.menu-icon{
    display: none;
    font-size: 1.5rem;
}

  /* ------ sidebar ------- */

.sidebar{
    grid-area: sidebar;
    height: 100%;
    background-color: #02241e;
    color: white;
    overflow-y: auto;
    transition: all 0.3s;
    z-index: 10;
}

.sidebar-title{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    margin-bottom: 30px;
}

.sidebar-logo{
    margin-top: 15px;
}

.close-sidebar{
    display: none;
}

.sidebar-title .sidebar-logo img{
    width: 150px;
}

.sidebar-title .close-sidebar{
    position: absolute;
    top:5px;
    right: 5px;
}

.sidebar-list{
    padding: 0;
    margin-top: 15px;
    list-style: none;
}

.sidebar-list a{
    text-decoration: none;
    color: unset;
}

.sidebar-list-item{
  padding: 20px; 
  font-size: 1.2rem; 
  letter-spacing: 1.5px;
  color: rgb(204, 228, 228);
  cursor: pointer; 
  transition: 0.3s;
}

.sidebar-list-item:hover{
  background-color:  #003b31;
}

.sidebar-responsive{
    display: inline !important;
    position: absolute;
}


 /* ---------- Common calsses ----- */

 .search-group select,input {
     padding: 5px;
     margin: 15px 0;
     margin-right: 30px;
     border : 1px solid #cfcfcf;
     border-radius: 8px;
     font-size: 1rem;
     min-width: 300px;
 }


 .search-group label {
     font-size: 1.1rem;
 }

  /* ----- main section ----- */


.main-container{
    grid-area: main;
    overflow-y: auto;
    padding: 0 20px;
    scroll-behavior:smooth;
}

section {
    margin-bottom: 20px;
}

.main-title{
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
}

.main-title h1{
  font-size: 2rem;  
}

.main-cards{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 20px;
    margin: 30px 0;
}

.main-cards .card{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 25px;
    background-color: white;
    border: 1px solid #dddddd;
    border-radius: 8px;
    box-shadow: 0 2px 10px -3px #02241e;
}

.main-cards .card:first-child {
    border-left: 7px solid rgb(0, 211, 211);
}

.main-cards .card:nth-child(2){
    border-left: 7px solid rgb(221, 88, 0);
}

.main-cards .card:nth-child(3){
    border-left: 7px solid #f0c000;
}
.main-cards .card:nth-child(4){
    border-left: 7px solid rgb(157, 224, 0);
}

.main-cards .card span{
    font-size: 2.2rem;
    font-weight: 600;
}

.main-cards .card .card-inner{
  display: flex;
  justify-content: space-between;  
  align-items: center;
}

.main-cards .card .card-inner p{
  font-size: 1.4rem;
}


.charts{
  display: grid; 
  grid-template-columns: 1fr 1fr;
  gap: 20px; 
}

.charts-card{
    background-color: white;
    margin-bottom: 20px;
    padding: 25px;
     border: 1px solid #dddddd;
    border-radius: 8px;
    box-shadow: 0 2px 10px -3px #02241e;
}

.chart-title{
    display:flex;
    align-items: center;
    justify-content: center;
    font-size: 1.4rem;
    font-weight: 600;
}


  



/* --------- Products Section ---------- */

#admin-products {
     padding: 0 10px;
     margin: 0 auto;
     margin-bottom: 20px;
 }
 #admin-products .main-title {
     margin-bottom: 30px;
 } 



 

  .input-group button {
     padding: 10px;
     margin: 15px 0;
     border : none;
     outline: none;
     border-radius: 8px;
     background-color: #00af92;
     color: white;
     font-size: 1rem;
     cursor: pointer;
 }

 .input-group button:hover {
     background-color: #00b698;
 }
 
 .products-list {
     display: flex;
     flex-direction: column;
     border: 1px solid #e0e0e0;
 }

 .products-list-header,
 .products-list-item {
     display: grid;
     grid-template-columns: 0.5fr 2fr 1fr 0.8fr 3fr 2fr 1fr; 
     gap: 10px; 
     padding: 10px;
 }
 
 .products-list-header {
     background-color: #02241e;
     color: white;
     font-weight: 600;
     font-size: 0.85rem;
 }

 .products-list .products-list-item {
    background-color: white;
    border-bottom: 1px solid #eee;
    align-items: center;
 }

  .products-list-item:hover {
     background-color: #e6f7f3;
 }

 .item-description { 
     max-height: 80px; 
     overflow-y: auto; 
     font-size: 0.9rem;
     color: #353535;
 }
 .product-image img {
     width: 80px; 
     height: 80px;
     object-fit: cover;
     border-radius: 4px;
 }
 

 .action-btns {
     display: flex;
     /* flex-direction: column; */
     gap: 5px;
     justify-content: start; 
     align-items: center;
 }
 .action-btns button {
     color: white;
     padding: 10px;
     border-radius: 8px;
     border: none;
     cursor: pointer;
     font-size: 0.8rem;
 }

        
        
.product-update {
    background-color: #00af92;
}
.product-update:hover {
    background-color: #00b698;
}
.product-delete {
    background-color: #d60000;
}
.product-delete:hover {
    background-color: #ce0000;
}


 /* -------------- Services Section ---------- */



#admin-services {
     padding: 0 10px;
     margin: 0 auto;
     margin-bottom: 20px;
 }
 #admin-services .main-title {
     margin-bottom: 30px;
 } 



 
 .input-group button {
     padding: 10px;
     margin: 15px 0;
     border : none;
     outline: none;
     border-radius: 8px;
     background-color: #00af92;
     color: white;
     font-size: 1rem;

 }



 .input-group button:hover {
     background-color: #00b698;
 }
 
 .services-list {
     display: flex;
     flex-direction: column;
     border: 1px solid #e0e0e0;
 }

 .services-list-header,
 .services-list-item {
     display: grid;
     grid-template-columns: 0.5fr 2fr 1fr 1fr 1fr; 
     gap: 10px; 
     padding: 10px;
 }
 
 .services-list-header {
     background-color: #02241e;
     color: white;
     font-weight: 600;
     font-size: 0.85rem;
 }

 .services-list .services-list-item {
    background-color: white;
    border-bottom: 1px solid #eee;
    align-items: center;
 }

  .services-list-item:hover {
     background-color: #e6f7f3;
 }

 
 
        
        
.service-update {
    background-color: #00af92;
}
.service-update:hover {
    background-color: #00b698;
}
.service-delete {
    background-color: #d60000;
}
.service-delete:hover {
    background-color: #e60000;
}


/* --------- Orders Section ---------- */


#admin-orders {
     padding: 0 10px;
     margin: 0 auto;
     margin-bottom: 20px;
 }
 #admin-orders .main-title {
     margin-bottom: 20px;
 } 




 
 .orders-list {
     display: flex;
     flex-direction: column;
     border: 1px solid #e0e0e0;
 }

 .orders-list-header,
 .orders-list-item {
     display: grid;
     grid-template-columns: 0.5fr 1fr 1fr 1fr 1fr; 
     gap: 10px; 
     padding: 10px;
 }
 
 .orders-list-header {
     background-color: #02241e;
     color: white;
     font-weight: 600;
     font-size: 0.85rem;
 }

 .orders-list-body {
    max-height: 400px;
    overflow-x: hidden;
    overflow-y: auto;
 }

 .orders-list a{
    text-decoration: none;
    color: unset;
 }

 .orders-list .orders-list-item {
    background-color: white;
    border-bottom: 1px solid #eee;
    align-items: center;
    cursor: pointer;
 }

  .orders-list-item:hover {
     background-color: #e6f7f3;
 }

 .order-pending {
    color: #F59E0B;
 }

 .order-confirmed {
    color: #3B82F6;
 }

 .order-proccessing {
    color: #8B5CF6;
 }

 .order-shipped {
    color: #06B6D4;
 }

 .order-delivered {
    color: #10B981;
 }

 .order-failedDelivery {
    color: #F97316;
 }

 .order-cancelled {
    color: #EF4444;
 }



 /* ------------ Booking Section -------- */
 
 #admin-bookings {
     padding: 0 10px;
     margin: 0 auto;
     margin-bottom: 20px;
 }
 #admin-bookings .main-title {
     margin-bottom: 20px;
 } 





 
 .booking-list {
     display: flex;
     flex-direction: column;
     border: 1px solid #e0e0e0;
 }

 .booking-list-header,
 .booking-list-item {
     display: grid;
     grid-template-columns: 0.5fr 1fr 1fr 1fr 1fr 1fr; 
     gap: 10px; 
     padding: 10px;
 }
 
 .booking-list-header {
     background-color: #02241e;
     color: white;
     font-weight: 600;
     font-size: 0.85rem;
 }

 .booking-list-body {
    max-height: 400px;
    overflow-x: hidden;
    overflow-y: auto;
 }

 .booking-list a{
    text-decoration: none;
    color: unset;
 }

 .booking-list .booking-list-item {
    background-color: white;
    border-bottom: 1px solid #eee;
    align-items: center;
    cursor: pointer;
 }

  .booking-list-item:hover {
     background-color: #e6f7f3;
 }

 .booking-pending {
    color: #F59E0B;
 }

 .booking-confirmed {
    color: #3B82F6;
 }

 .booking-completed {
    color: #10B981;
 }

 .booking-delayed {
    color: #8B5CF6;
 }

  .booking-cancelled {
    color: #EF4444;
 }




 /* --------- Users Section ---------- */

 #admin-users {
     padding: 0 10px;
     margin: 0 auto;
     margin-bottom: 20px;
 }
 #admin-users .main-title {
     margin-bottom: 20px;
 } 

 #admin-users h2{
     margin-top: 20px;
 } 






 
 .user-list {
     display: flex;
     flex-direction: column;
     border: 1px solid #e0e0e0;
 }

 .staff-list {
     display: grid;
     grid-template-columns: 0.5fr 1fr 1fr 1fr 1fr 1fr 2fr; 
     gap: 10px; 
     padding: 10px;
 }

  .customer-list {
     display: grid;
     grid-template-columns: 0.5fr 1fr 1fr 1fr 1fr; 
     gap: 10px; 
     padding: 10px;
 }
 
 .user-list-header {
     background-color: #02241e;
     color: white;
     font-weight: 600;
     font-size: 0.85rem;
 }

 .user-list-body {
    max-height: 400px;
    overflow-x: hidden;
    overflow-y: auto;
    margin-bottom: 30px;
 }

 .user-list a{
    text-decoration: none;
    color: unset;
 }

 .user-list .user-list-item {
    background-color: white;
    border-bottom: 1px solid #eee;
    align-items: center;
    cursor: pointer;
 }

  .user-list-item:hover {
     background-color: #e6f7f3;
 }

 


/* ------------ Review Section --------- */
 

 #admin-reviews {
     padding: 0 10px;
     margin: 0 auto;
     margin-bottom: 20px;
 }
 #admin-reviews .main-title {
     margin-bottom: 20px;
 } 


 
 .review-list {
     display: flex;
     flex-direction: column;
     border: 1px solid #e0e0e0;
     background-color: white;
 }

 .review-list-header, .review-list-item {
     display: grid;
     grid-template-columns: 0.5fr 1fr 1fr 1fr 1fr ; 
     gap: 10px; 
     padding: 10px;
 }

 
 .review-list-header {
     background-color: #02241e;
     color: white;
     font-weight: 600;
     font-size: 0.85rem;
 }

 .review-list-body {
    max-height: 400px;
    overflow-x: hidden;
    overflow-y: auto;
 }

 .review-list a{
    text-decoration: none;
    color: unset;
 }

 .review-list .review-list-item {
    background-color: white;
    border-bottom: 1px solid #eee;
    align-items: center;
    cursor: pointer;
 }

  .review-list-item:hover {
     background-color: #e6f7f3;
 }

 

 /* ---------- Inquiry section ------ */

 #admin-inquiries {
     padding: 0 10px;
     margin: 0 auto;
     margin-bottom: 20px;
 }
 #admin-inquiries .main-title {
     margin-bottom: 20px;
 } 

 #admin-inquiries h2{
     margin-top: 30px;
 } 
 
 .inquiry-list {
     display: flex;
     flex-direction: column;
     border: 1px solid #e0e0e0;
     background-color: white;
 }

 
 .customer-question-list {
     display: grid;
     grid-template-columns: 0.5fr 1fr 1fr 1fr 1fr 1fr; 
     gap: 10px; 
     padding: 10px;
 }

  .faq-list {
     display: grid;
     grid-template-columns: 0.5fr 2fr 2fr 1fr; 
     gap: 10px; 
     padding: 10px;
 }

 
 .inquiry-list-header {
     background-color: #02241e;
     color: white;
     font-weight: 600;
     font-size: 0.85rem;
 }

 .inquiry-list-body {
    max-height: 400px;
    overflow-x: hidden;
    overflow-y: auto;
 }

 .inquiry-list a{
    text-decoration: none;
    color: unset;
 }

 .inquiry-list .user-list-item {
    background-color: white;
    border-bottom: 1px solid #eee;
    align-items: center;
    cursor: pointer;
 }

  .inquiry-list-item:hover {
     background-color: #e6f7f3;
 }
 
.inquiry-new {
    color: #F59E0B;
 }

 .inquiry-inProgress {
    color: #3B82F6;
 }

 .inquiry-closed {
    color: #10B981;
 }









/* -------------media quieries------------- */

  @media only screen and (max-width: 992px) {
    .grid-container{
        grid-template-columns: 1fr;
        grid-template-rows: 0.2fr 3fr;
        grid-template-areas: "header" "main";
    }

    .sidebar{
        display: none;
    }

    .menu-icon{
        display: inline;
    }

    .sidebar-title .close-sidebar{
        display: inline;
    } 
}

 @media only screen and (max-width: 768px) {
    .main-cards{
      grid-template-columns: 1fr;  
      gap: 10px;
      margin-bottom: 0;
    }

    .charts{
        grid-template-columns: 1fr;
        margin-top: 30px;
    }
}