
.form-card {
    box-shadow: 0 2px 10px -3px #02241e;
    border-top: 5px solid #00af92;
    background-color: white;
    border-radius: 8px;
    max-width: 600px;
    margin: 30px auto;
    padding: 40px;
}

.form-card form{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.form-group{
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}

.form-group label{
    font-size: 1.1rem;
    font-weight: 600;
    margin-bottom: 8px;
    color: #02241e;
}

.form-group input:not([type="file"]),
.form-group select,
.form-group textarea{
    padding: 10px;
    border-radius: 8px;
    border: 1px solid #ccc;
    font-size: 1rem;
    width: 100%;
    transition: 0.3s;
}

.form-group input:focus,
.form-group select:focus,
.form-group textarea:focus{
   border-color: #00af92;
    outline: none;
}

.file-group input{
    padding: 10px 0;
    border: none;
}

.form-actions {
   margin-top: 10px;
   padding: 10px; 
}

.form-actions button{
    padding: 10px 30px;
    border: none;
    outline: none;
    border-radius: 8px;
    margin-right: 30px;
    font-size: 1.1rem;
}



.submit-btn {
    background-color: #00af92; 
}

.submit-btn:hover {
    background-color: #00b698;
}

.cancel-btn {
    background-color: #d60000; 
}

.cancel-btn:hover {
    background-color: #e60000;
}