
.view-card {
    box-shadow: 0 2px 10px -3px #02241e;
    border-top: 5px solid #dda900ff;
    background-color: white;
    border-radius: 8px;
    max-width: 700px;
    margin: 30px auto;
    padding: 40px;
    padding-top: 60px;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.view-card form{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.view-card h2{
   margin-bottom: 20px;
   text-align: center;
}


.view-card h3{
   margin: 50px 15px 0 0;
   font-size: 1.3rem;
   text-align: center;
}

.view-card .close-btn{
    text-decoration: none;
    color: red;
    font-size: 1.6rem;
    position: absolute;
    top: 8px;
    left: 8px;
}

.view-card .logout-btn{
    text-decoration: none;
    color: unset;
    background-color: #F57C00;
    color: #FFFFFF;
    font-size: 1.1rem;
    padding: 10px;
    border-radius: 8px;
    border: none;
    width: 150px;
    text-align: center;
    margin: auto;
    margin-top: 30px;
}

.view-group{
    display: flex;
    gap: 5px;
    width: 100%;
    padding: 8px;
    border-radius: 8px;
    background-color: #dfdfdf;
}

.view-group p{
    font-size: 1.1rem;
    color: #303030;
}

.view-group table{
   width: 100%;
   text-align: left;
}

.view-group table th{
   padding: 5px;
   border-bottom: 1px solid #dddddd;
   font-size: 1.3rem;
}

.view-group table td{
   padding: 5px;
   border-bottom: 1px solid #dddddd;
   font-size: 1.1rem;
}


.view-group table tfoot td{
   font-size: 1.3rem;
}

.view-group table .tbl-total{
   text-align: right;
   font-weight: 600;
}


.view-bold-text{
    font-weight: 700;
    color: black;
}

.text-field-group{
    flex-direction: column;
}

.group-heading{
    margin-top: 30px;
}

.view-group-cluster{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 30px;
}

.reply-box{
    background-color: white;
    box-shadow: 0 2px 5px -3px #02241e;
    border-left: 5px solid #00af92;;
}

.view-card .submit-btn{
   background-color: #dda900;
}

.view-card .submit-btn:hover{
   background-color: #ffc400;
}

.view-card .submit-btn:disabled{
   background-color: #aa9758;
   cursor: not-allowed;
}

.order-pending {
    color: #F59E0B !important;
 }

 .order-confirmed {
    color: #3B82F6 !important;
 }

 .order-processing {
    color: #8B5CF6 !important;
 }

 .order-shipped {
    color: #06B6D4 !important;
 }

 .order-delivered {
    color: #10B981 !important;
 }

 .order-failedDelivery {
    color: #F97316 !important;
 }

 .order-cancelled {
    color: #EF4444 !important;
 }



.booking-pending {
    color: #F59E0B !important;
 }

 .booking-confirmed {
    color: #3B82F6 !important;
 }

 .booking-completed {
    color: #10B981 !important;
 }

 .booking-delayed {
    color: #8B5CF6 !important;
 }

  .booking-cancelled {
    color: #EF4444 !important;
 }


 
.inquiry-New {
    color: #ffd000 !important;
 }

 .inquiry-Open {
    color: #3B82F6 !important;
 }

  .inquiry-Failed {
    color: #EF4444 !important;
 }

 .inquiry-Closed {
    color: #10B981 !important;
 }

